<div class="body">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <h3>Altere sua senha</h3>
        <button mat-raised-button color="primary" [routerLink]="['/login']">Voltar</button>
      </mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                matInput
                placeholder="Digite sua Senha"
                type="password"
                formControlName="password"
              />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Confirme sua Senha</mat-label>
                <input
                  matInput
                  placeholder="Confirme sua senha"
                  type="password"
                  formControlName="confirmPassword"
                />
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button
            class="button-recuperarSenha"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Troque sua Senha
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
