<div class="body">
  <mat-card>
    <mat-card-content>
      <h3>Estabelecimento</h3>
      <button mat-raised-button color="primary" (click)="Edit()">Editar</button>
    </mat-card-content>
    <form [formGroup]="estabelecimentoForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nome Fantasia</mat-label>
          <input matInput placeholder="Digite o nome do Estabelecimento" formControlName="nomeFantasia">
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input matInput placeholder="CNPJ" type="text" formControlName="cnpj">
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="Ex: 87711-280" maxlength="9" formControlName="cep">
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Endereço" formControlName="endereco">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Ex: 158" formControlName="numero">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Complemento</mat-label>
          <input matInput placeholder="Ex: Apt 18A" formControlName="complemento">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado" formControlName="estado">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Cidade" formControlName="cidade">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Contato</mat-label>
          <input matInput placeholder="Contato" type="tel" formControlName="contato" appPhoneFormat>
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Horário de Atendimento</mat-label>
          <input matInput placeholder="Ex: 08:00 às 18:00" formControlName="horario">
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Dias de Atendimento</mat-label>
          <input matInput placeholder="Ex: Seg, Ter, Qua..." type="text" formControlName="diasAtendimento">
          <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Faturamento</mat-label>
          <input matInput placeholder="Ex: R$ 100,00" type="text" formControlName="faturamento">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </div>
      <button class="button-cadastrar" mat-raised-button color="primary" type="submit">Atualizar</button>
    </form>
  </mat-card>
  </div>
  