.body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card{
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-card{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-card{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.photo{
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo > img{
  width: 50%;
  height: 60%;
}

.input-right{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-left{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-form-field{
  margin: 10px;
  width: 40%;
}

#Estado, #Numero{
  width: 20%;
}

.button{
  width: 20%;
  height: 3rem;
  margin-right: 1rem;
}

.buttons{
  width: 100%;
  height: 50%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-end;
  margin-right: 1rem;
}

.form-80{
  width: 80%;
}


