.full-width{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
}

.profile{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-profile{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.profile-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.description{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.description > p{
  text-align: justify;
}

.skills{
  width: 90%;
}

.list-skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

mat-chip-option{
  margin: 5px;
}

.information{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.card-info{
  width: 90%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.content-row > span{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.content-row-addres{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.title{
  width: 100%;
}

.info-addres{
  width: 90%;
}

@media (max-width: 1100px) {
  .full-width{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .profile{
    width: 100%;
    margin: 0;
  }
  .card-profile{
    width: 100%;
  }
  .card-info{
    width: 100%;
  }
  .information{
    width: 100%;
  }
  .row{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .content-row{
    flex-direction: column;
  }
}
