<div *ngIf="routeLogin; then appLoginComponent else everyComponent"></div>
<ng-template #appLoginComponent>
  <router-outlet></router-outlet>
</ng-template>
<ng-template #everyComponent>
  <mat-toolbar color="primary" *ngIf="!routeLogin">
    <div class="d-flex">
      <button mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="p-top">House Barber</div>
    </div>
    <span class="spacer-sidenav"></span>
    <button mat-icon-button [matMenuTriggerFor]="logout" #menuTrigger>
      <mat-icon>
        account_circle
      </mat-icon>
    </button>
    <mat-menu #logout="matMenu">
      <button class="menu-itens" mat-menu-item [routerLink]="['/perfil']">
        <mat-icon>person</mat-icon>
        Perfil
      </button>
      <button class="menu-itens" mat-menu-item (click)="openDialog()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="over">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/home']">
          <div class="d-flex">
            <mat-icon class="text-white">home</mat-icon>
            <a class="text-white icon-texto">
              Home
            </a>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-template>
