<div class="body">
    <div class="container">
        <p>Lista de Estabelecimentos</p>
        <mat-table class="table" #table [dataSource]="estabelecimento">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cnpj">
                <mat-header-cell *matHeaderCellDef> CNPJ </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cnpj}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endereco">
                <mat-header-cell *matHeaderCellDef> Endereco </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.endereco}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>
</div>