<div class="body">
  <mat-card>
    <mat-card-content>
      <h3>Aonde você atende</h3>
      <button mat-raised-button color="primary" [routerLink]="['/register']">Voltar</button>
    </mat-card-content>
    <form [formGroup]="registerEstablishmentForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="logradouro">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="endereco" appearance="outline">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
        <mat-form-field class="endereco" appearance="outline">
          <mat-label>Numero</mat-label>
          <input matInput formControlName="numero">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
        <mat-form-field class="endereco" appearance="outline">
          <mat-label>Cep</mat-label>
          <input matInput formControlName="cep">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade">
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </div>
      <button class="button-cadastrar" mat-raised-button color="primary" type="submit">Cadastrar</button>
    </form>
  </mat-card>
</div>
