.header-title{
  height:100px;
}

.icon-user{
  height: 100%;
  width: 100%;
  font-size: 5em;
}

.edit{
  color: rgba(0, 0, 0, 0.54);
  cursor:pointer;
}

.text-area {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

::ng-deep body::-webkit-scrollbar {
  overflow:hidden;
  display: none;
}

:host{
  ::ng-deep{
    .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing{
      border-color: var(--bs-red);
    }
    .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing{
      border-color: var(--bs-red);
      color:var(--bs-red);
    }
    .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label{
      color:var(--bs-red);
    }
  }
}
