<div class="body">
  <div class="container">
    <mat-card-header class="d-flex text-center justify-content-center align-items-center h3 header-title">
      Informações Pessoais
    </mat-card-header>
            <mat-panel-description class="d-flex text-justify justify-content-center">
              Você pode deixar algumas dessas informações, como detalhes de contato, visíveis
              para outras pessoas de modo a facilitar o contato delas com você. Você também pode
              ver um resumo dos seu perfil.
            </mat-panel-description>

    <mat-icon matSuffix class="d-flex text-center justify-content-center icon-user">account_circle</mat-icon>
    <div  class="d-flex text-justify justify-content-center edit">Editar</div>
          <div class="container">
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Digite seu username" formControlName="username">
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput placeholder="Digite sua data de nascimento" type="data" formControlName="data">
                <mat-icon matSuffix></mat-icon>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>CPF/CNPJ</mat-label>
                <input matInput placeholder="Digite seu CPF" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>CPF</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Digite seu email" type="email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
                <mat-label>Genero</mat-label>
                <input matInput placeholder="Escolha seu Genero" type="genero" formControlName="genero">
                <mat-icon matSuffix>gender</mat-icon>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Escolha seu Telefone" type="telefone" formControlName="telefone">
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>

            </div>
          </div>
          <div class="container">
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
                <mat-label>CEP</mat-label>
                <input matInput placeholder="Digite sua CEP" type="CEP" formControlName="CEP">
                <mat-icon matSuffix>location_on</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Cidade</mat-label>
                <input matInput placeholder="Digite sua Cidade" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>location_city</mat-icon>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput placeholder="Digite seu Estado" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>flag</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Rua</mat-label>
                <input matInput placeholder="Digite seu Rua" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>edit_road</mat-icon>
              </mat-form-field>
              <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput placeholder="Digite seu Número" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>home</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
                <mat-label>Complemento</mat-label>
                <input matInput placeholder="Digite seu Complemento" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>info</mat-icon>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
                <mat-label>Especialidades</mat-label>
                <input matInput placeholder="Digite seu Complemento" type="CPF" formControlName="CPF">
                <mat-icon matSuffix>info</mat-icon>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
                <mat-label>Sobre você</mat-label>
                <textarea matInput placeholder="Descreva suas experiências e formação, estilo e abordagem, avaliações ou motivação pela
profissão.."></textarea>
              </mat-form-field>
            </div>
          </div>

  </div>
</div>
